html, body {
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.home-page {
    height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../public/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#home-logo {
    width: 60%;
    border: 2px solid red;
}

#home-logo img {
    width: 80%;
}