h1 {
    font-size: 50px;
}
.shopping-page {
    width: 100%;
    background-color: rgb(51, 12, 87);
}

.shopping-page .row {
    height: 30%;
}

.shopping-page .col {
    margin: 3%;
    padding-top: 2%;
    width: 44%;
    text-align: center;
    background-image: url('../../../public/images/border.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.col h1 {
    margin-top: 13%;
    color: white;
}

.col h4 {
    margin-bottom: 15%;
    color: white;
}

.carousel {
    margin-bottom: 3%;
}

.carousel-indicators {
    display: none;
}

.slide-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-img {
    width: 70%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
